<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      WscPrinterApp
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <form [formGroup]="loginFormGroup" (ngSubmit)="onLogin()">
    <h1 id="wscPrinterApp-heading1" style="color:#000000;">
      Login
    </h1>
    <div class="spacer" style="width:283px;height:26px;" id="wscPrinterApp-spacer1"></div>
    <ion-item id="wscPrinterApp-input3">
      <ion-label floating>
        Username
      </ion-label>
      <ion-input type="text" name="Username" [(ngModel)]="model.Email" formControlName="Email"></ion-input>
    </ion-item>
    <!-- validation of username input field -->
    <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
      <ion-card>
        <ion-card-content>
          <!-- *ngIf="username.errors.required" will also work but it will show compile errors in editor -->
          <div *ngIf="email.errors['required']" text-center margin-top class="color-red">
            Name is required!
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
    <ion-item id="wscPrinterApp-input4">
      <ion-label floating>
        Password
      </ion-label>
      <ion-input type="password" placeholder="" name="Password" [(ngModel)]="model.Password" formControlName="Password"></ion-input>
    </ion-item>
    <!-- validation of password input field -->
    <ng-container *ngIf="password.invalid && (password.dirty || password.touched)">
      <ion-card>
        <ion-card-content>
          <div *ngIf="password.errors['required']" text-center margin-top class="color-red">
            Password is required!
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
    <ion-item id="wscPrinterApp-input7">
      <ion-label floating>
        Domain
      </ion-label>
      <ion-input type="text" placeholder="" name="Domain" [(ngModel)]="model.Domain" formControlName="Domain"></ion-input>
    </ion-item>
    <!-- validation of domain input field -->
    <ng-container *ngIf="domain.invalid && (domain.dirty || domain.touched)">
      <ion-card>
        <ion-card-content>
          <div *ngIf="domain.errors['required']" text-center margin-top class="color-red">
            Domain is required!
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ion-card *ngIf="isLoginError">
      <ion-card-content>
        <div text-center margin-top class="color-red">
          UserName or Password are not valid. Please enter correct credentials.
        </div>
      </ion-card-content>
    </ion-card>

    <button id="wscPrinterApp-button1" type="submit" ion-button margin-top color="positive" block [disabled]="!loginFormGroup.valid">
      Submit
    </button>
  </form>
</ion-content>
