<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header> -->
<ion-content padding class="background-img" id="page5">
  <img src="assets/img/wscprinter-logo.png" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;"
  />
  <div class="spacer" style="width:300px;height:39px;" id="login-spacer1"></div>
  <form id="login-form2" [formGroup]="loginFormGroup">
    <ion-item id="login-input3">
      <ion-label>
        Username
      </ion-label>
      <ion-input type="text" placeholder="" name="Username" [(ngModel)]="model.Email" formControlName="Email" (keyup)="removeValidators()"></ion-input>
    </ion-item>
    <!-- validation of username input field -->
    <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
      <ion-card>
        <ion-card-content>
          <!-- *ngIf="username.errors.required" will also work but it will show compile errors in editor -->
          <div *ngIf="email.errors['required']" text-center margin-top class="color-red">
            Name is required!
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
    <ion-item id="login-input4">
      <ion-label>
        Password
      </ion-label>
      <ion-input type="password" placeholder="" name="Password" [(ngModel)]="model.Password" formControlName="Password" (keyup)="removeValidators()"></ion-input>
    </ion-item>
    <!-- validation of password input field -->
    <ng-container *ngIf="password.invalid && (password.dirty || password.touched)">
      <ion-card>
        <ion-card-content>
          <div *ngIf="password.errors['required']" text-center margin-top class="color-red">
            Password is required!
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
    <ion-item id="login-input5">
      <ion-label>
        Dominio
      </ion-label>
      <ion-input type="text" placeholder="" name="Domain" [(ngModel)]="model.Domain" formControlName="Domain" (keyup)="removeValidators()"></ion-input>
    </ion-item>
    <!-- validation of domain input field -->
    <ng-container *ngIf="domain.invalid && (domain.dirty || domain.touched)">
      <ion-card>
        <ion-card-content>
          <div *ngIf="domain.errors['required']" text-center margin-top class="color-red">
            Domain is required!
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
    <ng-container *ngIf="isDomainError">
      <ion-card>
        <ion-card-content>
          <div text-center margin-top class="color-red">
            Domain doesn't exists! Please enter correct domain!
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </form>
  <ion-card *ngIf="isLoginError">
    <ion-card-content>
      <div text-center margin-top class="color-red">
        Username or Password are not valid. Please enter correct credentials.
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="isTokenCredentialsError">
    <ion-card-content>
      <div text-center margin-top class="color-red">
        Token credentials from json file are not valid. Please eneter correct credentials.
      </div>
    </ion-card-content>
  </ion-card>

  <button id="login-button1" ion-button color="dark" block on-click="onLogin()" [disabled]="!loginFormGroup.valid">
    Login
  </button>
  <div class="spacer" style="height:100px;" id="login-spacer2"></div>
  <h5 id="login-heading1" style="color:#000000;font-weight:300;text-align:center;">
    2018 © Dynamicsoft S.r.l.
  </h5>
</ion-content>
