<ion-header>
  <ion-navbar hideBackButton>
    <ion-toolbar style="padding: 0;">
      <ion-grid style="padding: 0;">
        <ion-row>
          <ion-col>
            <ion-buttons start>
              <button ion-button icon-only (click)="scan()" style="font-size: 1.2rem">
                <ion-icon name="barcode"></ion-icon>
                Barcode
              </button>
            </ion-buttons>
          </ion-col>
          <ion-col>
            <ion-title text-center id="activityTitle">
              {{ 'activity' | translate }}
            </ion-title>
          </ion-col>
          <ion-col>
            <ion-buttons end>
              <button ion-button icon-only (click)="presentPopover($event)" style="font-size: 1.2rem">
                Filter
                <ion-icon name="options"></ion-icon>
              </button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content class="bck-orange">
  <img src="assets/img/wscprinter-logo.png" padding style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;"
  />
  <ion-grid no-padding>
    <ion-row class="status-bck">
      <ion-col>
        <h6 padding text-left class="ion-col color-incoda" *ngIf="activeState === 0">In coda</h6>
        <h6 padding text-left class="ion-col color-inlav" *ngIf="activeState === 1">In lavorazione</h6>
        <h6 padding text-left class="ion-col color-terminate" *ngIf="activeState === 2">Terminate</h6>
        <h6 padding text-left class="ion-col color-annullate" *ngIf="activeState === 3">Annullate</h6>
        <h6 padding text-left class="ion-col color-sospese" *ngIf="activeState === 4">Sospese</h6>
        <h6 padding text-left class="ion-col color-tutte" *ngIf="activeState === 5">Tutte</h6>
      </ion-col>
      <ion-col>
        <h6 class="circle" style="float: right; margin-right: 16px">{{ activitiesLength }}</h6>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div padding>
    <ion-segment style="background-color: #EE9649" [(ngModel)]="period" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="today">
        OGGI
      </ion-segment-button>
      <ion-segment-button value="tommorow">
        DOMANI
      </ion-segment-button>
      <ion-segment-button value="all">
        TUTTE
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="period">
    <ion-list *ngSwitchCase="'today'">
      <ng-container *ngFor="let item of activitiesList">
        <ion-item>
          <ion-avatar item-start (click)="clicked(item)">
            <img *ngIf="item.statoProcesso == 'play'" src="assets/imgs/play.png">
            <img *ngIf="item.statoProcesso == 'stop'" src="assets/imgs/locked.png">
          </ion-avatar>
          <ion-grid no-padding>
            <ion-row class="status-bck">
              <ion-col col-9>
                <h3>
                  <b>{{item.Nome_Workflow | slice: 0 : 22}}
                    <span *ngIf="item.Nome_Workflow.length > 22">...</span>
                  </b>
                </h3>
              </ion-col>
              <ion-col col-3 text-right class="dateP">
                <p>
                  <b>{{item.DataScadenzaOrdine | date:'dd/MM/y'}}</b>
                </p>
              </ion-col>
              <ion-col col-9 id="activityDescription">
                <p>{{item.jobname}}</p>
                <p>{{item.NumeroOrdine}}</p>
                <p>Lavorazioni id: {{item.Id_Processo_Lavorazione}}</p>
              </ion-col>
              <ion-col col-3 text-right>
                <br>
                <ion-icon name="arrow-round-forward" (click)="clicked(item)"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ng-container>
    </ion-list>

    <ion-list *ngSwitchCase="'tommorow'">
      <ng-container *ngFor="let item of activitiesList">
        <ion-item>
          <ion-avatar item-start (click)="clicked(item)">
            <img *ngIf="item.statoProcesso == 'play'" src="assets/imgs/play.png">
            <img *ngIf="item.statoProcesso == 'stop'" src="assets/imgs/locked.png">
          </ion-avatar>
          <ion-grid no-padding>
            <ion-row class="status-bck">
              <ion-col col-9>
                <h3>
                  <b>{{item.Nome_Workflow | slice: 0 : 22}}
                    <span *ngIf="item.Nome_Workflow.length > 22">...</span>
                  </b>
                </h3>
              </ion-col>
              <ion-col col-3 text-right class="dateP">
                <p>
                  <b>{{item.DataScadenzaOrdine | date:'dd/MM/y'}}</b>
                </p>
              </ion-col>
              <ion-col col-9 id="activityDescription">
                <p>{{item.jobname}}</p>
                <p>{{item.NumeroOrdine}}</p>
                <p>Lavorazioni id: {{item.Id_Processo_Lavorazione}}</p>
              </ion-col>
              <ion-col col-3 text-right>
                <br>
                <ion-icon name="arrow-round-forward" (click)="clicked(item)"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ng-container>
    </ion-list>

    <ion-list *ngSwitchCase="'all'">
      <ng-container *ngFor="let item of activitiesList">
        <ion-item>
          <ion-avatar item-start (click)="clicked(item)">
            <img *ngIf="item.statoProcesso == 'play'" src="assets/imgs/play.png">
            <img *ngIf="item.statoProcesso == 'stop'" src="assets/imgs/locked.png">
          </ion-avatar>
          <ion-grid no-padding>
            <ion-row class="status-bck">
              <ion-col col-9>
                <h3>
                  <b>{{item.Nome_Workflow | slice: 0 : 22}}
                    <span *ngIf="item.Nome_Workflow.length > 22">...</span>
                  </b>
                </h3>
              </ion-col>
              <ion-col col-3 text-right class="dateP">
                <p>
                  <b>{{item.DataScadenzaOrdine | date:'dd/MM/y'}}</b>
                </p>
              </ion-col>
              <ion-col col-9 id="activityDescription">
                <p>{{item.jobname}}</p>
                <p>{{item.NumeroOrdine}}</p>
                <p>Lavorazioni id: {{item.Id_Processo_Lavorazione}}</p>
              </ion-col>
              <ion-col col-3 text-right>
                <br>
                <ion-icon name="arrow-round-forward" (click)="clicked(item)"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>
</ion-content>
