<ion-menu [content]="content" class="side-menu">
  <ion-content class="side-menu-background">
    <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/icon/favicon.ico">
        </ion-avatar>
        <h2>{{loggedInUser.Name}}</h2>
        <p>{{loggedInUser.Email}}</p>
      </ion-item>
      <ion-item>Item</ion-item>
      <ion-item>Item</ion-item>
      <ion-item (click)="closeMenu()" class="cursor-pointer" text-right>
        <ion-icon name="close-circle"> Close</ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
