.side-menu {
    min-height:800px;
}

.cursor-pointer:hover{
    cursor: pointer;
}

.side-menu-background{
    background: url(https://s3.amazonaws.com/ionic-io-static/plyKGOrrTLGzJH7t8RH8_wscprinter.png) no-repeat center;
    background-size:cover;
}