<div>
  <ion-item style="color: orange">
    <ion-icon name="information-circle" style="display: inline;"></ion-icon>
    <h2 style="display: inline">
      <b>{{ "activity_info" | translate}}</b>
    </h2>
  </ion-item>
</div>
<div>
  <ion-item class="font-size-sector">
    <ion-grid>
      <ion-row>
        <ion-col col-7>
          <b>Attivita</b>
          <p no-margin text-wrap class="font-size-sector">{{ activityInfo.Nome_Workflow }}</p>
        </ion-col>
        <ion-col col-5>
          <b>Stato</b>
          <p no-margin class="font-size-sector">{{ activityInfo.statoLavorazione }}</p>
        </ion-col>

        <ion-col col-7>
          <b>Data scadenza</b>
          <p no-margin class="font-size-sector">{{ activityInfo.DataScadenzaOrdine | date:'dd/MM/y' }}</p>
        </ion-col>
        <ion-col col-5>
          <b>Id attivita</b>
          <p no-margin class="font-size-sector">{{ activityInfo.IdOrder }}</p>
        </ion-col>

        <ion-col col-7>
          <b>Totale tempo impiegato</b>
          <p no-margin class="font-size-sector">56 minuti</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</div>
<div>
  <ion-item style="color: orange">
    <ion-icon name="information-circle" style="display: inline"></ion-icon>
    <h2 style="display: inline">
      <b>{{ "order_info" | translate}}</b>
    </h2>
  </ion-item>
</div>
<div>
  <ion-item class="font-size-sector">
    <ion-grid>
      <ion-row>
        <ion-col col-7>
          <b>Cliente</b>
          <p no-margin text-wrap class="font-size-jobinfo">{{ activityInfo.cliente }}</p>
        </ion-col>
        <ion-col col-5>
          <b>Numero ordine</b>
          <p no-margin class="font-size-jobinfo">{{ activityInfo.NumeroOrdine }}</p>
          <br>
          <b>Lavorazione Id</b>
          <p no-margin class="font-size-jobinfo">{{ activityInfo.IdOrder }}</p>
        </ion-col>

        <ion-col col-7>
          <b>Indirizzo di consegna</b>
          <p no-margin class="font-size-jobinfo">{{ activityInfo.operatore }}</p>
        </ion-col>
        <ion-col col-5>
          <b>Jobname</b>
          <p no-margin text-wrap class="font-size-jobinfo">{{ activityInfo.jobname }}</p>
        </ion-col>

        <ion-col col-7>
          <b>Referente</b>
          <p no-margin class="font-size-jobinfo">{{ activityInfo.operatore }}</p>
        </ion-col>
        <ion-col col-5>
          <b>Spedizione</b>
          <p no-margin text-wrap class="font-size-jobinfo" [innerHTML]="activityInfo.descrizione"></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

</div>
