<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ng-container *ngIf="!isScanned; else scannerInfoTitle">
      <ion-title>
        {{'single_shipment_barcode_scanner' | translate}}
      </ion-title>
    </ng-container>

    <ng-template #scannerInfoTitle>
      <ion-title>
        {{'shipment_barcode_info' | translate}}
      </ion-title>
    </ng-template>

  </ion-navbar>
</ion-header>
<ion-content padding style="background:url(assets/img/wscprinter-background.png) no-repeat center;background-size:cover;"
  id="page6">
  <img src="assets/img/wscprinter-logo.png" class="wscprinter-logo"/>

  <ng-container *ngIf="!isScanned; else scannerInfo">
    <button id="spedizioneBarcodeScannerInfo-button7" ion-button color="dark" block (click)="scanBarcode()">
      {{'scan_barcode' | translate}}
    </button>
  </ng-container>

  <ng-template #scannerInfo>

    <button id="spedizioneBarcodeScannerInfo-button7" ion-button color="dark" block (click)="scanBarcode()">
      {{'scan_new_barcode' | translate}}

    </button>
    <ng-container #noScanError *ngIf="!scanError && model">
      <ion-list id="spedizioneBarcodeScannerInfo-list6" class="mt16">
        <ion-item color="none" id="spedizioneBarcodeScannerInfo-list-item31">
          <ion-icon name="ios-information-circle-outline" item-left></ion-icon>
          {{'order_number' | translate}}
          <ion-note item-right>{{model.OrderNumber}}</ion-note>
        </ion-item>
      </ion-list>
      <ion-list id="spedizioneBarcodeScannerInfo-list7">
        <ion-item color="none" id="spedizioneBarcodeScannerInfo-list-itemstato">
          {{'shipment_state' | translate}}
          <ng-container *ngIf="model.StatoSpedizione === 0;else inPreparazione">
            <ion-note item-right class="fl-right">In coda</ion-note>
          </ng-container>
          <ng-template #inPreparazione>
            <ng-container *ngIf="model.StatoSpedizione === 1;else inAttesa">
              <ion-note item-right class="fl-right">In preparazione</ion-note>
            </ng-container>
          </ng-template>
          <ng-template #inAttesa>
            <ng-container *ngIf="model.StatoSpedizione === 2;else inTransito">
              <ion-note item-right class="fl-right">In attesa</ion-note>
            </ng-container>
          </ng-template>
          <ng-template #inTransito>
            <ng-container *ngIf="model.StatoSpedizione === 3;else consegnato">
              <ion-note item-right class="fl-right">In transito</ion-note>
            </ng-container>
          </ng-template>
          <ng-template #consegnato>
            <ng-container *ngIf="model.StatoSpedizione === 4">
              <ion-note item-right class="fl-right">Consegnato</ion-note>
            </ng-container>
          </ng-template>
        </ion-item>
        <ion-item color="none" id="spedizioneBarcodeScannerInfo-list-item33" *ngIf="!shipmentStatusChanged">
          N.colli/bancali
          <ion-note item-right *ngIf="model.NColliBancali">{{model.NColliBancali}}</ion-note>
        </ion-item>
        <ion-item color="none" id="spedizioneBarcodeScannerInfo-list-item34" *ngIf="!shipmentStatusChanged">
          {{'shipment_number' | translate}}
          <ion-note item-right>{{model.NumSpedizione}}</ion-note>
        </ion-item>
        <ion-item color="none" id="spedizioneBarcodeScannerInfo-list-item35" *ngIf="!shipmentStatusChanged">
          {{'courier' | translate}}
          <ion-note item-right>{{model.TipologiaSpedizione}}</ion-note>
        </ion-item>
        <ion-item color="none" id="spedizioneBarcodeScannerInfo-list-item36" *ngIf="!shipmentStatusChanged">
          {{'order_date' | translate}}
          <ion-note item-right>{{model.DataScadenzaSpedizione | date:'dd/MM/yyyy'}}</ion-note>
        </ion-item>

        <ion-item color="none" id="spedizioneBarcodeScannerInfo-list-item36" *ngIf="model.DataConsegnaSpedizione && hideCourierButton">
          {{'delivery_date' | translate}}
          <ion-note item-right>{{model.DataConsegnaSpedizione | date:'dd/MM/yyyy'}}</ion-note>
        </ion-item>

        <ion-item color="none" id="spedizioneBarcodeScannerInfo-list-item36" *ngIf="shipmentStatusChanged">
          {{'deadline_date' | translate}}
          <ion-note item-right>{{model.DataSpedizione | date:'dd/MM/yyyy'}}</ion-note>
        </ion-item>

        <ion-item color="none" id="spedizioneBarcodeScannerInfo-list-item36" *ngIf="hideCourierButton || shipmentStatusChanged">
          {{'shipment_operator' | translate}}
          <ion-note item-right>{{model.ShipmentOperator}}</ion-note>
        </ion-item>

        <ion-item color="none" id="spedizioneBarcodeScannerInfo-list-item36" *ngIf="!shipmentStatusChanged">
          <ion-textarea placeholder="Enter a description" [(ngModel)]="model.NoteSpedizione" [disabled]="hideCourierButton"></ion-textarea>
        </ion-item>
      </ion-list>
      <button id="spedizioneBarcodeScannerInfo-button8" ion-button color="balanced" block icon-left (click)="deliverToCourier()"
        *ngIf="!shipmentStatusChanged && !hideCourierButton">
        <ion-icon name="checkmark"></ion-icon>
        {{'deliver_to_the_courier' | translate}}
      </button>
    </ng-container>
  </ng-template>

  <div class="alert" *ngIf="changingStateError" text-center margin padding>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Some error occured. Please try later!</strong>
  </div>

  <ng-container *ngIf="scanError">
    <div class="alert" text-center padding>
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Barcode id is not recognized. Please try again!</strong>
    </div>
  </ng-container>
</ion-content>
