// page-dashboard {
// }
.user-icon {
  display: block;
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-top: -10%;
}

.option-icon {
  padding: 5px;
  width: 80%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#background-logo {
  min-height: 20%;
}

#content-dashboard {
  background-color: white;
}

.wscprinter-logo{
  margin-bottom: 15% !important;
}
