.list-selector {
  ion-item {
    ion-label {
      margin-top: 0px !important;
    }
  }
}

ion-list {
  background: white;
}

.img-max {
  max-width: 2rem;
}

.color-red {
  color: red !important;
}

.popover-title-icon {
  max-width: 3rem !important;
  vertical-align: middle;
}

.popover-title-text {
  margin-left: 5px !important;
}