.list-selector {
  ion-item {
    ion-label {
      margin-top: 0px !important;
    }
  }
}

ion-list {
  background: white;
}

.img-max {
  max-width: 2rem;
}

.popover-title-icon {
  max-width: 3rem !important;
  vertical-align: middle;
}

.popover-title-text {
  margin-left: 5px !important;
}

.color-red {
  span {
    color: red !important;
  }
}

button {
  // setting color only for icons in action sheet
  ion-icon[ng-reflect-name=play] {
    @extend .color-incoda;
  }
  ion-icon[ng-reflect-name=pause] {
    @extend .color-sospese;
  }
  ion-icon[ng-reflect-name=checkmark] {
    @extend .color-terminate;
  }
  ion-icon[ng-reflect-name=swap] {
    @extend .color-rispristina;
  }
  ion-icon[ng-reflect-name=alert] {
    @extend .color-annulla;
  }
}
