<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ng-container *ngIf="!isScanned; else scannerInfoTitle">
      <ion-title>
        Spedizione barcode scanner
      </ion-title>
    </ng-container>

    <ng-template #scannerInfoTitle>
      <ion-title>
        Spedizione barcode scanner info
      </ion-title>
    </ng-template>

  </ion-navbar>
</ion-header>
<ion-content padding style="background:url(assets/img/wscprinter-background.png) no-repeat center;background-size:cover;"
  id="page6">
  <img src="assets/img/wscprinter-logo.png" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;"
  />

  <ng-container *ngIf="!isScanned; else scannerInfo">
    <button id="spedizioneBarcodeScannerInfo-button7" ion-button color="dark" block (click)="scanBarcode()">
      Scan barcode
    </button>
  </ng-container>

  <ng-template #scannerInfo>
    <button id="spedizioneBarcodeScannerInfo-button7" ion-button color="dark" block (click)="scanBarcode()">
      Scan nuovo barcode
    </button>
    <ion-list id="spedizioneBarcodeScannerInfo-list6">
      <ion-item color="none" id="spedizioneBarcodeScannerInfo-list-item31">
        <ion-icon name="information-circle" item-left></ion-icon>
        N.Ordine
        <ion-note item-right></ion-note>
      </ion-item>
    </ion-list>
    <ion-list id="spedizioneBarcodeScannerInfo-list7">
      <ion-item color="none" id="spedizioneBarcodeScannerInfo-list-item32">
        Identificativo collo
        <ion-note item-right></ion-note>
      </ion-item>
      <ion-item color="none" id="spedizioneBarcodeScannerInfo-list-item33">
        N.Colli
        <ion-note item-right></ion-note>
      </ion-item>
      <ion-item color="none" id="spedizioneBarcodeScannerInfo-list-item34">
        N. spedizione
        <ion-note item-right></ion-note>
      </ion-item>
      <ion-item color="none" id="spedizioneBarcodeScannerInfo-list-item35">
        Corriere
        <ion-note item-right></ion-note>
      </ion-item>
      <ion-item color="none" id="spedizioneBarcodeScannerInfo-list-item36">
        Data consegna
        <ion-note item-right></ion-note>
      </ion-item>
    </ion-list>
    <button id="spedizioneBarcodeScannerInfo-button8" ion-button color="balanced" block icon-left>
      <ion-icon name="checkmark"></ion-icon>
      Consegnato al corriere
    </button>
  </ng-template>
</ion-content>
