<div>
  <ion-item style="color: orange">
    <ion-icon name="information-circle" style="display: inline;"></ion-icon>
    <h2 style="display: inline">
      <b>Note Ordine</b>
    </h2>
  </ion-item>
</div>
<div>
  <ion-item class="font-size-sector" no-padding>
    <ion-grid>
      <ion-row>
        <ion-col col-7>
          <p no-margin text-wrap class="font-size-jobinfo">{{ orderNotes }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</div>

<div>
  <ion-item style="color: orange">
    <ion-icon name="information-circle" style="display: inline;"></ion-icon>
    <h2 style="display: inline">
      <b>Note Lavorazioni</b>
    </h2>
  </ion-item>
</div>